<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Vessel Tracker</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gray-100 flex justify-center items-center">
<div class="bg-white p-4 rounded-lg shadow-lg w-96">
  <h1 class="font-bold text-2xl mb-4 text-center">Check your mailbox</h1>
  <img src="https://www.svgrepo.com/show/79860/letter.svg" class="w-16 h-16 mx-auto mb-4" alt="Letter icon" />
  <span class="block w-full overflow-hidden" style="display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;text-overflow: ellipsis;">
    We have sent an email to your email address, you can activate your account using the link in the email.
  </span>
</div>

</body>
</html>
